<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>DETALLE PELICULA</h1>
    <p>Título: <%= detail.title %></p>
    <p>Rating: <%= detail.rating %></p>
    <p>Premios: <%= detail.awards %></p>
    <p>Fecha de estreno: <%= detail.release_date %></p>
    <p>Duración: <%= detail.length %></p>

    <p>Genero: ></p>

    <p>Lista de actores presentes en la pelicula:</p>
    <button>
      <a href="/movies/deleteMovies/<%= detail.id %>">Eliminar pelicula</a>
    </button>
    <button>
      <a href="/movies/editMovies/<%= detail.id %>">Modificar Pelicula</a>
    </button>
    <button><a href="/">Volver al listado de peliculas</a></button>
  </body>
</html>
